name: Build and Run

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: install coverage tool
      run: |
        sudo apt-get update
        sudo apt-get install -y gcovr

    - name: build_TDD1ADCToAmp
      run: g++ -Wall -Wextra -fprofile-arcs -ftest-coverage -o TDD1ADCToAmp test_ADCtoAmpConverter.cpp ADCToAmpConverter.c Detect_Range_Readings.c
      
    - name: run_TDD1ADCToAmp
      run: ./TDD1ADCToAmp

    - name: collect coverage
      run: gcovr --gcov-exclude=".*test.*" -r . --html --html-details -o coverage.html --print-summary

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: coverage
        path: ./*.html
        retention-days: 21
